    body {
        text-align: center;
        margin: auto;
    }
    
    .board {
        text-align: center;
        margin-left: 40%;
        /* height: 30px;
    width: 30px; */
        /* border: solid gray 1px; */
    }
    
    .cell {
        text-align: center;
        margin: auto;
        height: 30px;
        width: 30px;
        border: solid gray 1px;
    }
    
    .cell:hover {
        cursor: pointer;
    }